.timeController_block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #003164 50%, #FFEDF7 50%);
}

circle {
    border: 4px solid #FF4384;
    border-radius: 50%;
}

.controller_button_block {
    position: absolute;
    display: flex;
    flex-wrap: row;
    align-items: flex-end;
    z-index: 1;
}

.start_button {
    color: #ffffff;
    font-size: 84px;
    height: 80px;
    width: 96px;
}

.end_button {
    height: 12px;
    width: 12px;
    border: none;
}