.todo_block {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #003164;
    color: #003164;
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 16px;
}
.todo_name_block {
    width: 90%
}
.play_button_block {
    font-size: 28px;
}