.menu_block {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #003164;

    .menu_list_block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .menu_icon {
            color: #FFFFFF;
            font-size: 24px;
            text-decoration:none;
        }
        .menu_icon:visited {
            color: #FFFFFF;
        }
        .menu_icon:hover {
            color: #FFFFFF;
        }
        .menu_icon:active {
            color: #FFFFFF;
        }
    }

    .logo_block {
        transform:rotate(90deg);
        position: relative;
        .logo {
            position: absolute;
            top: 50%;
            font-family: 'Roboto', serif;
            font-size: 24px;
            color: #FFFFFF;
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .menu_block {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;

        .menu_list_block {
            flex-direction: row;
            justify-content: left;

            .menu_icon {
                margin-left:50px; 
            }
        }

        .logo_block {
            grid-area: 1 / 2 ;
            transform:rotate(0deg);
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .logo {
                margin-right: 50px;
                position: relative;
                top: 0;
                font-family: 'Roboto', serif;
                font-size: 24px;
                color: #FFFFFF;
            }
        }
    }
}
