.main_block {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    height: 100%;
    width: 100%;
    background-color: #FFEDF7;
}

.innerPage_center_block {
    padding: 50px 50px 50px 50px;
    background-color: #003164;
    overflow: auto;
}

@media all and (min-width: 0px) and (max-width: 1000px) {
    .main_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 500px 500px 100px;
        height: 100%;
        width: 100%;
    }
    .innerPage_center_block {
        padding: 0px;
        display: flex;
        justify-content: center;
    }
}