.information_block {
    padding: 48px 26px 48px 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .center_block {
        display: flex;
        flex-direction: column;

        .current_todo_block {
            display: flex;
            font-size: 48px;
            color: #003164;
        }
    
        .todo_information_block {
            font-family: 'Roboto', serif;
            font-weight: bold;
            margin-left:16px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            font-size: 24px;
    
            .current_tomato_block{
                display: flex;
            }
        }
    }

    .more_link {
        margin-top: 8px;
        font-family: 'Roboto', serif;
        font-weight: bold;
        text-align: right;
        color: #FF4384;

        .clean_link_style {
            text-decoration:none;
        }
        .clean_link_style:visited {
            color: #FF4384;
        }
        .clean_link_style:hover {
            color: #FF4384;
        }
        .clean_link_style:active {
            color: #FF4384;
        }
    }
}
