add_todo_block {
    font-family: 'Roboto', serif;
    font-size: 16px;
    font-weight: bold;
    color: #FF4384;
}

.add_todo_input_block {
    @extend add_todo_block;
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: #FF4384;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #FF4384;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #FF4384;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #FF4384;
    }
}

.add_todo_input {
    @extend add_todo_block;
    padding: 16px;
    font-style: italic;
    border: none;
    background-color: #ffffff;
    height: 56px;
    width: 445px;
}

.add_todo_icon {
    margin-left: -30px;
}


@media screen and (min-width: 0px) and (max-width: 900px) {
    .add_todo_input_block {
        width: 450px;
        margin: 50px;
    }

    .add_todo_input {
        width: 100%;
    }
}